.option {
  background-color: #3c0e70;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}
.option:hover {
  opacity: 1;
  transform: scale(1.1);
}
#options-container .option p {
  margin-bottom: 0;
}
.correct {
  background-color: #00b300;
  font-weight: bold;
}
.wrong {
  background-color: #3c0e70;
  opacity: 0.4;
}
